{% extends "base.html" %}
{% block content %}

<header class="bg-primary text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-center">
                <h3 class="my-4">Welcome to the BlogPosts</h3>
            </div>
        </div>
    </div>
</header>

<div class="container mt-4">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            {% for post in post_list %}
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted">{{ post.author }} | {{ post.created_on }}</p>
                    <p class="card-text">{{ post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>

{% endblock %}
