{% extends 'base.html' %}
 {% block content %}
 <div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top"> 
     <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1> 
       <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p> 

        <div class="d-flex justify-content-between align-items-center">
          <div>
            <a href="{% url 'upvote_post' post.slug %}" class="btn btn-success">Thumbs Up ({{ post.upvotes }})</a>
            <a href="{% url 'downvote_post' post.slug %}" class="btn btn-danger">Thumbs Down ({{ post.downvotes }})</a>
          </div>
          <div>
            <p>Total Votes: {{ post.total_votes }}</p>
          </div>
        </div>
        {% if links %}
            <h3>Links</h3>
            <ul>
            {% for link in links %}
                <li><a href="{{ link.strip }}" target="_blank">{{ link.strip }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
     </div>
    </div> 
   <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
       <h2>{{ comments.count }} comments</h2>
      {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold"> 
           {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %} 
      </div> 
   </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<script>
    function vote(slug, type) {
        fetch(`/post/${slug}/${type}/`, {
            method: 'GET',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById(`upvotes-${slug}`).innerText = data.upvotes;
            document.getElementById(`downvotes-${slug}`).innerText = data.downvotes;
            document.getElementById(`total-votes-${slug}`).innerText = data.total_votes;
        })
        .catch(error => console.error('Error:', error));
    }
</script>
{% endblock content %}